.restaurant-list {
  width: 100%;
  margin: 15;
}

button.clear {
  background-color: white;
  padding: 4px 8px;
}

.filters {
  display: flex;
  gap: 20px;
  margin: 5px;
  align-items: center;
  justify-content: space-between;
}

.horizontal-line {
  border: none;
  border-top: 1px solid black;
  margin: 20;
}


.restaurant-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 15px;
  padding: 0;
  border: 0;
}

.restaurant-item {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.restaurant-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.open-now {
  color: green;
}

.closed {
  color: red;
}

button.learn-more {
  margin-top: auto;
  width: 100%;
  display: grid;
  place-self: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 50px;
  background-color: #003366;
  border: 0;
  color: white;
}

button.load {
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 90px;
  background-color: white;
  border: 2;
  color: black;
  justify-content: center;
}

.font-restaurant {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  justify-content:left;
  padding-top: 0%;
}

.info {
  display: flex;
  align-items:center;
}

.info-open {
  margin-right: auto;
}

.star-rating {
  font-size: 1.5em;
  color: #003366;
  display: flex;
  margin-left: 5px;
}

.image {
  display: block;
  margin: auto;
  width: 50%;
  height: auto;
}

.detail {
  display: flex;
  align-items:center;
}

.font-text {
  font-size: 20px;
}